.popup {
   display: flex;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   position: fixed;
   top: 0;
   right: 0;
   visibility: hidden;
   opacity: 0;
   justify-content: center;
   box-sizing: border-box;
   transition: visibility 0.5s, opacity 0.5s;
}