.popup__container {
   box-sizing: border-box;
   margin: 195px auto 0;
   position: relative;
   max-width: 430px;
   width: 100%;
   max-height: 330px;
   background-color: #fff;
   border-radius: 10px;
}

@media screen and (max-width: 767px) {
   .popup__container {
      max-height: 322px;
      max-width: 282px;
      margin: 123px auto 0;
   }

}