.elements__like {
   padding: 0;
   height: 19px;
   width: 22px;
   margin: 0 20px 0 0;
   background-color: #fff;
   border: 0;
   align-self: center;
   background-image: URL(../../../images/heart.svg);
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   opacity: 1;
   transition: opacity .3s ease-in;
}

.elements__like:hover {
   opacity: .5;
   cursor: pointer;
}