.popup__close-icon {
   max-width: 32px;
   max-height: 32px;
   background-color: rgba(0, 0, 0, .1);
   border: none;
   position: absolute;
   top: -40px;
   right: -40px;
   padding: 0;
   opacity: 1;
   transition: opacity .3s ease-in;
   box-sizing: border-box;
}

.popup__close-icon:hover {
   opacity: .5;
   cursor: pointer;
}

@media screen and (max-width: 500px) {
   .popup__close-icon {
      max-width: 20px;
      max-height: 20px;
      top: -36px;
      right: 0;
   }
}